**/__pycache__
myrtle.egg-info/*
uv.lock
1x600x400wm-n-k_case1_searchSpace.csv
out/*
myrtle/graphing/out/*
sensitivity-analysis/holistic-data/*_ranking.csv
sensitivity-analysis/dispatch-data/*ranking.csv
resized.png
sensitivity-analysis/dispatch-data/graphs/*
sensitivity-analysis/holistic-data/graphs/*
sensitivity-analysis/tooBig
myrtle/*ranking.csv
myrtle/*_analyzed.csv
./*ranking.csv
./*_analyzed.csv
myrtle/out/*.csv
myrtle/out/*.json
deleteLater/
IGNORE/*
scripts/out/*
scripts/out/deleteLater/*
myrtle/deleteLater/
sensitivity-analysis/beta=0/spm-reg/untimed/384x384x384wm-n-k_ss_c_rem_div_ana.csv
sensitivity-analysis/beta=0/spm-reg/untimed/512x512x512wm-n-k_ss_c_rem_div_ana.csv
