**/__pycache__
myrtle.egg-info/*
uv.lock
1x600x400wm-n-k_case1_searchSpace.csv
out/*
myrtle/graphing/out/*
sensitivity-analysis/holistic-data/*_ranking.csv
sensitivity-analysis/dispatch-data/*ranking.csv
resized.png
sensitivity-analysis/dispatch-data/graphs/*
sensitivity-analysis/holistic-data/graphs/*
myrtle/*ranking.csv
myrtle/*_analyzed.csv
./*ranking.csv
./*_analyzed.csv
myrtle/out/*.csv
myrtle/out/*.json
